.hero-unit {
    background: $color-white-transparent-50;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 20px;
    padding-bottom: 6px;
    
    &:last-child {
        margin-right: 0;
    }

}

#contact {
    .hero-unit {
        min-height: 140px;
    }
}