.hero-unit {

    background: rgba(255, 255, 255, .5);


    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 15px;


    padding: 20px;
    padding-bottom: 6px;

}

.hero-unit:last-child {
    margin-right: 0;
}

.hero-unit  .b-label {

    display: block;
    margin-bottom: 8px;
    text-align: center;
}


#contact .hero-unit {
    min-height: 140px;
}