
html, body {
	background-color: #F6AC7F;
}

body{
	display:none;
}
#jpreOverlay {
	background-color: #F6AC7F;
}
#jpreSlide{


top:100%

}
#jpreLoader{

	margin-top: -3px;
	width:300px;
	height: 4px;
	background-color: #fff;

}

#jpreBar {

	background-color: #E14400;
	height: 4px;
	

	

		
	animation: progress 2s linear infinite;
	-moz-animation: progress 2s linear infinite;
	-webkit-animation: progress 2s linear infinite;
	-ms-animation: progress 2s linear infinite;
	-o-animation: progress 2s linear infinite;	
}
#jprePercentage {
	color:#fff;
	line-height: 36px;
	font-family:Verdana;
	font-weight:bold;
	text-align:center;
	top: -100%;
	

}



@-webkit-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-moz-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-ms-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-o-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}