$width-icon: 40px;

.b-social-list {
		&__item {
				align-items: center;
				display: flex;
				gap: 10px;
				padding-bottom: 20px;
				> img {
						border: 2px solid #770000;
						border-radius: 6px;
						padding: 2px;
						width: $width-icon;
				}
				> a {
						font-size: calc($width-icon/1.5);
						line-height: 1.5;
						margin-left: - calc($width-icon + 10px);
						padding-left: calc($width-icon + 10px)
				}
		}
}
