html, body {
		height: 100%;
		min-width: 300px;
}
.test {
		background: {image: url('~@i/bg-body.png')} ;
}

body {
		background: {
				attachment: fixed;
				color: #ed5a00;
				image: url('~@i/bg-body.webp');
				position: center;
				repeat: repeat-x;
		}

		font-family: 'Tahoma', sans-serif;

		&::before {
				content: map-to-string($grid-breakpoints);
				display: none;
		}
}

.b-wrap {
		height: 100%;
		overflow: hidden;
		position: relative;
		scroll-behavior: smooth;

		&:before,
		&:after {
				background: linear-gradient(83deg, $white, $color-yellow);
				content: "";
				height: 80vh;
				left: -40vw;
				mask-image: radial-gradient(rgba(0, 0, 0, 0.7), transparent 65%);
				position: fixed;
				top: -20vh;
				width: 100vw;
				z-index: -1;
		}

		&:after {
				inset: auto -40vw -20vh auto
		}

		@include media-breakpoint-down(md) {
				height: auto;
				overflow: visible;
				position: relative;
		}
}

