html, body {
    height: 100%;
}

body {
    background-color: #ed5a00;
    background-image: url(../../../i/bg-body.png);
    background-position: center;
    background-repeat: repeat-x;
}


.b-wrap {
    height: 100%;
    position : relative;
    overflow: hidden;

}


