html, body {
    height: 100%;
}

body {
    background-color: #ed5a00;
    background-image: url(../../../i/bg-body.png);
    background-position: center top;
    background-repeat: no-repeat;
}


.b-wrap {
    height: 100%;
    position : relative;
    overflow: hidden;

}


