$mobile-bp: 480px;

.b-footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: $background-footer;
    height: 44px;
    box-shadow: 0 -1px 2px $color-white-transparent-20, 
                inset 0 1px 10px $color-black-transparent-20;
    border-top: 1px solid $color-dark-red;
    
    @include media-breakpoint-up(md) {
        position: fixed;
    }
}