.hero-unit {
    padding: 18px;
    background: rgba(255, 255, 255, .5);
    padding-bottom: 6px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-width: 203px;
    min-height: 124px;
    margin-bottom: 18px;
    margin-right: 18px;
}

.hero-unit  .b-label {

    display: block;
    margin-bottom: 8px;
    text-align: center;
}