/* =U-INLINE-BlOCK
---------------------------------------------------------
*/

.u-inline-block {
    display: inline-block;
	vertical-align:top;
}


/*ie*/

.u-inline-block {
    zoom:1;
    *display: inline;
}

/* =END U-INLINE-BLOCK
---------------------------------------------------------
*/