/* = U-MIN-HEIGHT
---------------------------------------------------------
*/

.u-min-height
{
    min-height:100%;
}

/*ie*/

.u-min-height {
    height: auto !important;
    height: 100%;
}
/* END U-MIN-HEIGHT
---------------------------------------------------------
*/