
.b-dl-list {
		padding-left: 10px;
		> dt {
				float: left;
				font-weight: bold;
				padding-right: 10px;
				text-align: left;
				width: 160px;
				@include media-breakpoint-up(sm) {
						text-align: right;
				}
		}

		> dd {
				margin-bottom: 6px;
				overflow: hidden;
		}
}