//$enable-important-utilities: false;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

@layer base, bootstrap, theme, utilities;

@layer base {
		@import "utils/u-reset/u-reset";
}

@layer bootstrap {

		@import "bootstrap/scss/bootstrap-grid";
		@import "bootstrap/scss/accordion";
		@import "bootstrap/scss/transitions";
		@import "bootstrap/scss/utilities";
		$utilities: map-merge(
				$utilities,
				(
				"height": (
						property: height,
						class: h,
						responsive: true,
						values: (
								25: 25%,
								50: 50%,
								75: 75%,
								100: 100%
						)
				)
				)
		);
		@import "bootstrap/scss/utilities/api";

}

@layer theme {
		@import "abstracts/variables";
		@import "abstracts/functions";
		@import "abstracts/mixins";
		@import "utils/u-inline-block/u-inline-block";
		@import "utils/u-min-height/u-min-height";
		@import "utils/u-clearfix/u-clearfix";
		@import "utils/u-helpers/u-helpers";
		@import "blocks/t-typo/t-typo";
		@import "blocks/b-page/b-page";
		@import "blocks/b-header/b-header";
		@import "blocks/b-nav/b-nav";
		@import "blocks/b-nav-toggle-btn/_b-nav-toggle-btn";
		@import "blocks/b-hero/b-hero";
		@import "blocks/b-footer/b-footer";
		@import "blocks/b-copy/b-copy";
		@import "blocks/b-home-btn/b-home-btn";
		@import "blocks/b-vlist/b-vlist";
		@import "blocks/b-dl-list/b-dl-list";
		@import "blocks/b-photo/b-photo";
		@import "blocks/b-accordion/b-accordion";
		@import "blocks/b-tabbable/b-tabbable";
		@import "blocks/b-label/b-label";
		@import "blocks/b-carousel/b-carousel";
		@import "blocks/hero-unit/hero-unit";
		@import "blocks/i-darkbox/i-darkbox";
		@import "blocks/b-experience-graphic/b-experience-graphic";
		@import "blocks/b-experience/b-experience";
		@import "blocks/b-switcher/b-switcher";
		@import "blocks/b-graph/b-graph";
		@import "blocks/b-social-list/b-social-list";
		@import "blocks/b-icon-bg/b-icon-bg";
		@import "blocks/b-x-scroll/b-x-scroll";
}

@layer utilities {
		@import "utils/u-clearfix/u-clearfix";
		@import "utils/u-min-height/u-min-height";
		@import "utils/u-inline-block/u-inline-block";
		@import "utils/u-helpers/u-helpers";
}

