.b-header {
    background-color:rgba(255,255,255, .5);
    overflow: hidden;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0,0,0, .2);
    position: fixed;
    z-index: 9999;
    width: 100%;
    min-height: 40px;
    display: flex;
}

.b-nav {
    display: inline-block;
    text-align: center;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 15px;
    }

    a#{&}__link {
        font-family: "univers", serif;
        font-size: 22px;
        color: #a20000 !important;
        text-shadow: 1px 1px 1px rgba(255,255,255, .6) !important;
        padding: 2px 4px;

        &:hover {
            background-color:transparent;
            color: #020202 !important;
            box-shadow: none;
        }
    }
}

.b-wrap {
    @each $section in about, experience, folio, contact {
        &:has(##{$section}:target) > .b-header a.b-nav__link[href="##{$section}"] {
            background-color: transparent;
            color: #020202 !important;
            box-shadow: none;
        }
    }
}

.b-nav .active a.b-nav__link,
.active a.b-nav__link:hover{
    color: #020202 !important;
}

a.active a.b-nav__link:focus {
    background: none;
}


.navbar .nav .active > a:focus {
    background: none;
    box-shadow: none;
    outline: none;
}

.navbar-toggle {
    display:none;
}


@media (max-width: 979px) {

    .nav-collapse .nav > li {
        float: left;
    }

    .nav-collapse, .nav-collapse.collapse {
        height: auto;
    }

    .nav-collapse .nav > li > a {
        font-weight: normal;
    }

    .nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover {
        background: none;
    }







}



/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

    .b-header {
        background-color: #faddcb;
    }
    .b-header nav li {
        width: 100%;
        display: block;
        float: none;
        }

    .navbar-toggle {
        display: block;
        position: absolute;
        top: 10px;
        right: 25px;
        padding: 0;
        background: none;
        border:none;
        z-index: 999;
        }


    .navbar-toggle .icon-bar {
        display: block;
        width: 18px;
        height: 3px;
        background-color: #a20000;
        border-radius: 0;
        margin-bottom: 3px;
        }

    .navbar-toggle:hover .icon-bar {
        
        background-color: rgba(225,68,0, 1);

    }

        

    .nav-collapse, .nav-collapse.collapse {
        height: 0;
        
        }


    .nav-collapse .nav>li>a {
        -webkit-border-radius: 0;
                border-radius: 0;

        }


    .b-header nav {
        display: block;
    }

.nav-collapse .nav>li>a:hover, 
.nav-collapse .dropdown-menu a:hover {
    
    background-color: #FFF;
}

}



@media (min-width: 768px) {

    .nav-collapse, .nav-collapse.collapse {
        height: auto !important
    }

}