@keyframes slideIn {
		from {
				transform: translateX(100%);
				opacity: 0;
		}
		to {
				transform: translateX(0);
				opacity: 1;
		}
}

$pages: home, about, experience, folio, contact;

.b-wrap {
		@each $section in $pages {
				&:has(##{$section}:target) > .b-header a.b-nav__link[href="##{$section}"] {
						background-color: transparent;
						color: $text-main;
						box-shadow: none;
						text-decoration: none;
				}
		}
}

.b-nav {
		text-align: center;

		@include media-breakpoint-down(lg) {
				height: 100vh;
				background-color: #fff;
				max-width: 100% !important;

				&--open {
						position: relative;
						transform: translateX(0%);
						animation: slideIn 0.4s cubic-bezier(.65,0,.35,1);
				}

				&--close {
						position:absolute;
						transform: translateX(100%);
				}
		}

		&__list {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 100%;
				padding: 0 15px;
				margin-bottom: 0;

				@include media-breakpoint-down(lg) {
						flex-direction: column;
						justify-content: center;
						align-items: center;
				}
		}

		&__link,
		&__link:link,
		&__link:visited {
				font-family: "univers", serif;
				font-size: 32px;
				line-height: 2;
				color: $text-link;
				text-shadow: 1px 1px 1px $color-white-transparent-60 !important;
				padding: 2px 4px;

				&:hover {
						background-color: transparent;
						color: $text-main !important;
						box-shadow: none;
				}

				&:focus {
						background: none;
				}

				@include media-breakpoint-up(lg) {
						& {
								font-size: 24px;
						}
				}
		}
}