@keyframes slideIn {
		from {
				transform: translateX(100%);
				opacity: 0;
		}
		to {
				transform: translateX(0);
				opacity: 1;
		}
}

$pages: home, about, experience, skills, contact;

.b-wrap {
		@each $section in $pages {
				&:has(##{$section}:target) > .b-header a.b-nav__link[href="##{$section}"] {
						background-color: transparent;
						color: $text-main;
						box-shadow: none;
						text-decoration: none;
				}
				// for header change background color without opacity when graph shows
				&:has(#skills:target):has(.b-graph-btn[aria-expanded=true]) > .b-header {
						background-color: $color-lighter-orange;
				}

		}
}

.b-nav {
		text-align: center;

		@include media-breakpoint-down(lg) {
				background-color: #fff;
				height: 100vh;
				max-width: 100% !important;

				&--open {
						animation: slideIn 0.4s cubic-bezier(.65, 0, .35, 1);
						position: relative;
						transform: translateX(0%);
				}

				&--close {
						position: absolute;
						transform: translateX(100%);
				}
		}

		&__list {
				align-items: center;
				display: flex;
				flex-direction: column;
				height: 100%;
				justify-content: center;
				margin-bottom: 0;

				@include media-breakpoint-up(lg) {
						flex-direction: row;
						justify-content: space-between;
				}
		}

		&__link,
		&__link:link,
		&__link:visited {
				color: $text-link;
				font-family: "univers", serif;
				font-size: 32px;
				line-height: 2;
				padding: 2px 0;
				text-shadow: 1px 1px 1px $color-white-transparent-60 !important;

				&:hover {
						background-color: transparent;
						box-shadow: none;
						color: $text-main !important;
				}

				&:focus {
						background: none;
				}

				@include media-breakpoint-up(lg) {
						font-size: 24px;
				}
		}
}