/* =ACCORDION
---------------------------------------------------------
*/

// for accrodiong

$accordion-border-radius: 4px;
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/accordion"; // Аккордеон
@import "bootstrap/scss/transitions"; // Переходы

.b-accordion_item  {
    margin-bottom: 6px;
    background-color: #fff;
    background-color: rgba(255,255,255, .5);
    border: none;
    border-radius: $accordion-border-radius;
}

.b-accordion .accordion-inner {
    border-top: 1px solid #ED5A00;
    padding-bottom: 0;
    padding-top: 18px;
}

.b-accordion p,
.b-accordion ul,
.b-accordion ol,
.b-accordion h4 {
    color: #020202;
}

.carousel-caption h4,
.carousel-caption h4 a,
.carousel-caption span {
    color:#fff;
    margin-bottom: 6px;
    font-size: 13px;
    font-family: Verdana, sans-serif;
    line-height: 20px;

}

.b-accordion .accordion-heading {
    padding-left: 16px;
    margin-bottom: 0;
    position: relative;
}

.b-accordion .accordion-heading a {
    font-size: 20px;
    padding: 0;
    text-decoration: none;
}

.b-accordion .accordion-body.in {
    background-color: #fff9c1;
    border-radius: 4px;
}

.b-accordion .accordion-toggle:before,
.b-accordion .active .collapsed.accordion-toggle:before {
    content:'+';
    position: absolute;
    right:18px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    font-family:Arial, sans-serif;
    background: rgba(255, 255, 255, .5);
    width: 30px;
    height: 100%;
}


.b-accordion .active .accordion-toggle:before {
    content:'-';
    background: #fff;
}

.b-accordion .accordion-toggle:hover:before {
    background: #fff !important;
}

/* =END ACCORDION
---------------------------------------------------------
*/
