.b-accordion {
		--#{$prefix}accordion-btn-padding-x: 16px;
		--#{$prefix}accordion-btn-padding-y: 16px;

		&__btn {
				background-color: transparent;
				color: $color-red;
				cursor: pointer;
				font-family: "univers", serif;
				font-size: 34px;
				line-height: 1;
				position: relative;
				transition: background-color 0.3s ease-out;

				&:hover,
				&[aria-expanded="true"] {
						background-color: $color-white-transparent-70;
				}
		}

		&_item {
				background-color: $background-surface;
				border: none;
				border-radius: $border-radius;
				margin-bottom: 6px;
				overflow: hidden;
				padding: 0;
		}

		&__inner {
				background-color: $background-surface;
				display: flex;
				padding: var(--#{$prefix}accordion-btn-padding-y) var(--#{$prefix}accordion-btn-padding-x);
		}
}


