/* Darkbox
---------------------------------------- */
.darkbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
    img {
        max-width: 1200px !important;
    }
    
    .darkbox-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
    }
    
    .darkbox-canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        margin: -40px 0 0 -40px;
        width: 80px;
        height: 80px;
        border-radius: 15px;
        background: #000 url('~@i/spinner.png') 24px 24px no-repeat;
        
        img {
            display: block;
            visibility: hidden;
        }
    }
    
    .darkbox-button {
        position: absolute;
        top: -13px;
        z-index: 1;
        display: none;
        overflow: hidden;
        width: 30px;
        height: 30px;
        background: url('~@i/close.png') no-repeat;
        cursor: pointer;
        
        &-left {
            left: -16px;
        }
        
        &-right {
            right: -16px;
        }
    }
}

/* Darkbox On
---------------------------------------- */
.darkbox-on {
    display: block;
}

/* Darkbox Loaded
---------------------------------------- */
.darkbox-loaded {
    .darkbox-canvas {
        overflow: visible;
        height: auto;
        border-radius: 0;
        background: none;
        
        img {
            width: 100%;
            visibility: visible;
        }
    }
}

/* Darkbox Error
---------------------------------------- */
.darkbox-error {
    .darkbox-canvas {
        background-image: url('~@i/error.png');
    }
}

/* Darkbox Done
---------------------------------------- */
.darkbox-done {
    .darkbox-button {
        display: block;
    }
}