.b-page-wrap {
		height: 100%;
		margin: auto;
		position: relative;

		.items {
				height: 500%;
				position: relative;
		}
}

.b-page {
		height: 20%;
		opacity: 0.4;
		position: relative;
		transition: all 0.5s ease-in-out;
		margin: 0;

		&__title {
				text-align: left;
				font-family: "univers", serif;
				font-size: 50px;
				line-height: 1.1;
		}

		&:first-child {
				opacity: 1;
		}

		&:target {
				opacity: 1;
		}

		> .span12 {
				display: table;
				height: 100%;
		}
}

#home.b-page {
		position: relative;
		width: 100%;
}