.b-page-wrap {
    position: relative;
    margin: auto;
    height: 100%;
    
    .items {
        position: relative;
        height: 500%;
    }
}

.b-page {
    height: 20%;
    position: relative;
    opacity: 0.4;
    transition: all 0.5s ease-in-out;
    
    &:first-child {
        opacity: 1;
    }
    
    &:target {
        opacity: 1;
    }
    
    > .span12 {
        display: table;
        height: 100%;
    }
}

#home.b-page {
    width: 100%;
    position: relative;
}
@include media-breakpoint-down(md) {
    .b-page {
        height: auto;
        width: 100%;
    }
    .b-page-wrap {
        max-width: 100%;
    }

    .b-page-wrap .items {
        position: relative;
        height: auto;
    }
}
