/* =B-VLIST
--------------------------------------------------------- */

.b-vlist {
    padding: 0;
    list-style: disc;
    margin-left: 1.3em;

    li {
        padding-bottom: 5px;
    }
}

/* =END B_VLIST
--------------------------------------------------------- */