// Variables
$tablet-bp: 767px;
$animation-duration: 3s;

// Keyframes
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.b-circle {
  &-hgroup {
    left: 20%;
    padding-top: 34%;
    position: relative;
    z-index: 999;
  }

  &-wrap {
    height: 320px;
    left: 50%;
    margin: {
      left: -140px;
      top: -160px;
    }
    position: absolute;
    top: 50%;
    width: 320px;
  }

  // Main circle
  & {
    animation: {
      duration: $animation-duration;
      iteration-count: infinite;
      name: spin;
      timing-function: linear;
    }
    background: {
      color: $color-red;
      image: radial-gradient(
        45px 45px 45deg,
        circle cover,
        rgba(244, 33, 33, 1) 0%,
        $color-dark-red 100%,
        red 95%
      );
    }
    border-radius: 110px;
    color: $color-white;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: border-radius 0.3s ease;

    &:hover {
      border-radius: 50%;
    }
  }

  // Circle elements
  &__position {
    color: $color-white;
    font: 36px/40px "univers", Tahoma, sans-serif;
    margin-bottom: 0;
    text-transform: none;
  }

  &__aka {
    color: $text-circle-aka;
    font-size: 13px;
  }

  &__name {
    color: $color-light-orange;
    font-size: 16px;
    line-height: 18px;
  }

  &__userpic {
    border-radius: 50%;
    height: 100px;
    left: -15%;
    object-fit: cover;
    position: absolute;
    top: 33%;
    width: 100px;
    z-index: 999;
  }

  &__links_cv {
    &.b-circle__links_cv {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 8px;
      color: $color-white;
      display: block;
      float: left;
      font: {
        family: "univers", sans-serif;
        size: 20px;
      }
      line-height: 2;
      padding: 0 10px;
      text-decoration: none;

      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }
    }

    img {
      display: inline-block;
      margin: {
        right: 4px;
        bottom: 3px;
      }
      vertical-align: middle;
      width: 14px;
    }
  }
}

// Media queries
@media (min-width: $tablet-bp) {
  a.b-circle__links_cv_top {
    display: none !important;
  }
}

@media (max-width: $tablet-bp) {
  .b-circle {
    &-wrap {
      height: auto;
      left: 0;
      margin: {
        left: 0;
        top: 0;
      }
      padding-bottom: 36px;
      position: relative;
      top: 0;
      width: 100%;
    }

    & {
      animation: {
        name: none;
        timing-function: none;
      }
      border-bottom: 1px solid $color-dark-red;
      border-radius: 0;
      box-shadow: 0 1px 6px $color-black-transparent-30;
      width: 100%;
    }

    &-hgroup {
      left: 0;
      padding-top: 200px;
      position: relative;
      text-align: center;
    }

    &__userpic {
      left: 50%;
      margin: {
        left: -57px;
        top: -76px;
      }
      top: 40%;
    }

    &__position {
      margin-bottom: 36px;
    }

    &__links_cv {
      &.b-circle__links_cv {
        bottom: auto;
        left: auto;
        position: relative;
        text-align: center;
      }

      &_top {
        color: $text-link;
        display: block;
        font-size: 16px;
        left: 20px;
        line-height: 36px;
        position: fixed;
        top: 0;
        z-index: 9999;

        &:hover {
          color: $color-orange;
        }

        img {
          display: inline-block;
          height: auto;
          margin-top: -1px;
          vertical-align: middle;
          width: 16px;
        }
      }
    }
  }
}