.b-carousel {



    

}


.b-carousel .carousel-caption {

    padding: 4px 10px;
    padding-top: 6px;

}



.carousel-control {

    width: 20px;
    height: 20px;
    line-height: 20px;
    text-decoration: none !important;
    color:#fff !important;

}

.carousel-control a:hover {

    text-decoration: none;
}


