
.b-page-wrap {

    height: 500%;
    position: relative;
    margin: auto;
    max-width: 1200px;



}

.b-page {
    height: 20%;
    display: table;
    position: relative;

}

.b-page__inner {

    padding: 60px 0;
    position: relative;
    max-width: 940px;
    margin: auto;

    vertical-align: middle;
    display: table-cell;


}


