
.b-page-wrap {

   
    position: relative;
    margin: auto;
    height: 100%;



}

.b-page {
    height: 20%;
    position: relative;
}

.b-page > .span12 {
    
    display: table;
    height: 100%;
}

#home.b-page {
    width: 100%;
    position: relative;
}

.b-page-wrap .items {
    position: relative;
    height:500%;
}

.b-page__inner {

    padding: 60px 0;
    position: relative;
    vertical-align: middle;
    display: table-cell;
   float: none;

}


@media (max-width: 767px) { 

.b-page {
    height: auto;
    width: 100%;
   
}

.b-page-wrap .items {
    position: relative;
    height: auto;
}

}

