.b-header {
		background-color: $background-main;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
		display: flex;
		min-height: 40px;
		overflow: hidden;
		position: fixed;
		text-align: center;
		width: 100%;
		z-index: 9999;
}
