.b-tabbable {

    position: relative;

}

.b-tabbable .nav-tabs {
    margin-right: 2px;
    border: 0;
}

.b-tabbable .tab-content {

    background: rgba(255,255,255, .5);
    float: left;
    padding: 18px;
    -webkit-border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;

}



.b-tabbable .tab-pane {
    min-height: 250px;
    min-width: 530px;

}

.b-tabbable .tab-pane li {

    padding-bottom: 2px;
}

.b-tabbable .label {

    margin-bottom: 10px;
    display: inline-block;
}

.b-tabbable .tab-content li {
    color:#020202
}


.b-tabbable .nav > li > a {
    background:#fff;

}

.b-tabbable .nav > li > a:hover,
.b-tabbable .nav > li > a:hover {
    background: rgba(255,255,255, .5);
    border: none;

}


.b-tabbable  .nav .active >  a,
.b-tabbable  .nav li >  a,
.b-tabbable  .nav .active >  a:hover {
    border: 0;
    text-decoration: none;
    font-weight: bold;
}

.b-tabbable  .nav .active >  a {

    background: rgba(255,255,255, .5);
    color:#E14400
}