
    /* =TYPO
---------------------------------------------------------
		1. = BODY

		2. = CUSTOM FONT

		3. = LINKS

		4. = HEADINGS

		5. = TEXT

		6. = LISTS

		7. = TABLES

		8. = HORIZONTAL RULES
---------------------------------------------------------
HOW TO CALCULATE PROPER LINE HEIGHT IN EMS

child element pixels (your desired pixel value) / parent element pixels = child ems
---------------------------------------------------------
*/

/* =BODY
---------------------------------------------------------
*/

body {

    font:12px/18px Verdana, sans-serif;


}



img {
    border: 0;
}

/* =FONTS
---------------------------------------------------------
*/



@font-face {
        font-family: 'univers';
        src: url('../../fonts/univers_condensed_medium-webfont.eot');
        src: url('../../fonts/univers_condensed_medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/univers_condensed_medium-webfont.woff') format('woff'),
        url('../../fonts/univers_condensed_medium-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

}

/* =LINKS

---------------------------------------------------------

*/

a:link, a:visited {
    text-decoration: underline;
    color:#770000;
    font-size: 13px;
}

a:hover, a:active {
    text-decoration: none;
    color:#770000;
}

/*dashed*/

.dashed,a.dashed,.dashed:visited {
    text-decoration: none;
    background: -moz-linear-gradient(left, #770000, #770000 60%, transparent 60%);
    background: -ms-linear-gradient(left, #770000, #770000 60%, transparent 60%);
    background: -o-linear-gradient(left, #770000, #770000 60%, transparent 60%);
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#770000), color-stop(0.6, #770000), color-stop(0.6, transparent));
    background: -webkit-linear-gradient(left, #770000, #770000 60%, transparent 60%);
    background: linear-gradient(left, #770000, #770000 60%, transparent 60%);
    background-size: 5px 1px;
    background-repeat: repeat-x;
    background-position: 0 100%;

}

.dashed:hover, .dashed:active {
    text-decoration: none;
    background: none;

}

/* =HEADINGS

---------------------------------------------------------

*/
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: Arial, sans-serif;
    color:#fff;
    margin-bottom: 18px;

    
}

h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0,0,0, .3);

}


h2 {
    font-size: 18px;
    font-weight: bold;

}

h3 { font-size: 16px;

}

h4 {
    font-size: 14px;
    font-weight: bold;

}

h5 {

}

h6 {

}

/* =TEXT

---------------------------------------------------------

*/

p, ul, ol, table {
    font: 13px/18px Verdana, sans-serif;
    color:#fff;
    margin-bottom: 18px;

}

/* =LIST

---------------------------------------------------------

*/

ul {}

li {}

