.b-x-scroll {
		@include media-breakpoint-down(md) {
				flex-wrap: nowrap;
				margin-left: calc(-0.5 * var(--bs-gutter-x));
				-webkit-overflow-scrolling: touch;
				overflow-x: auto;
				overflow-y: hidden;
				scroll-behavior: smooth;
				white-space: nowrap;
				width: calc(100% + var(--bs-gutter-x));
				> .col {
						//width: 86%;
						width: 300px;
				}

				&::-webkit-scrollbar {
						display: none;
				}
				ul {
						display: inline-flex;
						flex-wrap: wrap;
				}
				//todo make modificator for b-label b-label--inline and instead of this
				li {
						background-color: #fff;
						border-radius: 4px;
						display: inline;
						line-height: 1.5;
						margin: 2px;
						padding: 0 4px;

				}
		}




}