.b-photo {
    display:none;
    @include media-breakpoint-up(md) {
        & {
            display: block;
            height: auto;
            width: 130px;
            > img {
                width: 100%;
            }
        }
    }
}
