.b-photo {
    display:none;

    @include media-breakpoint-up(md) {
        & {
            display: block;
            height: auto;
            width: 130px;
            overflow: hidden;
            border-radius: 4px;
            //border:1px solid #fff;

            box-shadow: 0 0 .5px 1px $color-white, 0 1px .5px 1px rgba($color-black, .8), rgba($color-red, .3) 0px 0px 25px 5px, rgba($color-yellow, .3) 20px 0px 45px 5px;

            //box-shadow: 0 1.5px .5px 2.5px rgba(255,255,255,.4),0 0 .5px 1px #000,inset 0 2px 1px 1px rgba(255,255,255,.25),inset 0 1px 1px 1px hsla(0,0%,100%,.2);
            > img {
                width: 100%;
            }
        }
    }
}
